/*
    Style
*/

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Amita');
@import url('https://fonts.googleapis.com/css?family=Nunito');


body, html {
    margin: 0;
    padding: 0;
    justify-content: center;
}

body {
    background-color: #0f0f0f;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    color: white;
}

#board {
    /* border: 1px solid rgb(9, 255, 0); */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ui {
    /* border: 1px solid red; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rounds {
    /* font-family: 'Nunito', sans-serif; */
    /* font-style: italic; */
    text-align: center;
    /* font-weight: bold; */
    /* font-size: 2rem; */
    color: #555;
}

#game {
    /* border: 1px solid rgb(0, 38, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

.dice {
    transition: all 0.3s;
    margin: 8px;
    border: 3px solid transparent;
}


#controls {
    /* border: 1px solid red; */
    height: auto;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#enter {
    max-width: 10vw;
    max-height: 4.8vw;
    min-width: 80px;
    min-height: 38px;
}

#space {
    max-width: 30vw;
    max-height: 4.8vw;
    min-width: 240px;
    min-height: 38px;
}


#score {
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1rem;
    color: #16bc47;
    color: #666666;
    width: 62vw;
}


#score p {
    font-family: 'Press Start 2P', cursive;
}


#log {
    background: rgb(8, 8, 8);
    font-family: 'Press Start 2P', cursive;
    font-size: .7rem;
    color: rgb(134, 134, 134);
    border-left: 2px solid rgb(39, 39, 39);
    border-top: 2px solid rgb(22, 22, 22);
    border-right: 2px solid rgb(68, 68, 68);
    width: 65vw;
    padding: 20px;
    overflow: hidden;
}



.selected {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
}

.gold {
    color: #ebd406;
}

.green {
    color: #00e613;
}

.red {
    color: #cc0000;
}

.white {
    color: rgb(255, 255, 255);
}

.hide {
    display: none;
    visibility: hidden;
}

@media (max-width: 1500px) {
    #score, #log {
        width: 80vw;
    }

    #controls{
        width: 50vw;
    }
}

@media (max-width: 1100px) {
    #score, #log {
        width: 92vw;
    }

    #controls{
        width: 70vw;
        min-width: 320px;
    }
}


@media (max-width: 767px) AND (orientation:portrait){
    #ui {
        height: 30vh;
        padding-top: 25px;
    }
    #game {
        height: 20vh;
    }
    #controls {   
        height: 10vh;
    }
    #score {
        height: 10vh;
    }
    #log { 
        height: 30vh;
    }

    .dice {       
        max-width: 12vw;
        max-height: 12vw;
    }
}


@media (orientation:landscape){
    #ui {
        height: 20vh;
    }
    #game {
        height: 25vh;
    }
    #controls {   
        height: 15vh;
    }
    #score {
        height: 10vh;
    }
    #log { 
        height: 30vh;
    }

    .dice {       
        max-width: 9vw;
        max-height: 9vw;
    }
}